<div class="parbase filter">
<div id="filterbar-wrapper">
		<div id="filterbar" class="">
			<div id="filterbar-in">
				<div class="container">
					<div id="categoryselect">
    
    <div class="hide-block" style="display: none;">
        <div class="categoryselect-box-wrapper">
            <div class="categoryselect-box" style="overflow: hidden; padding: 0px; width: 100px; height: 120px;">
                        
                    
                <div class="jspContainer" style="width: 100px; height: 146px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 100px;"><div class="jScrollbar_mask">
                            <dl>
                                <dt><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine.html">Máy giặt</a></dt>
                                   <dd><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/front-door.html">Máy giặt cửa ngang</a></dd>
                                    <dd><span class="active">Máy giặt cửa trên</span></dd>
                                    </dl>
                        </div><div class="jScrollbar_draggable"><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/top-loading.html#" class="draggable"></a></div></div></div></div>
            </div>
        </div>
</div>
					<div id="sortby">
						<div class="hide-block" style="display: none;">
							<div class="sortby-box-wrapper">
								<div class="sortby-box">
									<dl>
										<dd><input type="text" id="s" placeholder="Lọc kết quả tại đây" ng-model="filtertinbai_view" ng-change="resetLimit();"  autocomplete="off" autocomplete="on" value="Tìm kiếm tại đây"></dd>
										
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="filterbar-more"><a href="javascript:void(0);"><span class="mfilters show">Lọc thêm</span><span class="hfilters hid">Ẩn bộ lọc</span></a></div>
		</div> 
		
</div>
</div>
