<script type="text/javascript" id="www-widgetapi-script" src="./libs/www-widgetapi.js" async=""></script>
<script src="./libs/iframe_api"></script>
<script src="./libs/bl_track_with_gcm.cgi" type="text/javascript"></script>
<script type="text/javascript" async="" src="./libs/linkid.js"></script>
<script type="text/javascript" async="" src="./libs/analytics.js"></script>
<script type="text/javascript" async="" charset="utf-8" src="./libs/blade_track_gl.js"></script>
<script type="text/javascript" async="" src="./libs/conversion_async.js"></script>
<script type="text/javascript" async="" src="./libs/analytics.js"></script>
<script async="" src="./libs/gtm.js"></script>
<script async="" src="./libs/gtm(1).js"></script>

<script type="text/javascript" src="./libs/jquery.js"></script>
<script type="text/javascript" src="./libs/common-clientlibs.js"></script>
<script type="text/javascript" src="./libs/common-libs.js"></script>
<script type="text/javascript" src="./libs/dynamicHomepage-libs.js"></script>
<script type="text/javascript" src="./libs/categorybrowse-libs.js"></script>

<link rel="stylesheet" href="./libs/common-libs.css" type="text/css">
<link rel="stylesheet" href="./libs/dynamicHomepage-libs.css" type="text/css">
<link rel="stylesheet" href="./libs/categorybrowse-libs.css" type="text/css">
	<link rel="stylesheet" href="./libs/breadcrumbs-flyout.css" type="text/css">
<script type="text/javascript" src="./libs/breadcrumbs-flyout.js"></script>

<script type="text/javascript" src="./libs/announcements.js"></script>
<link href="./libs/panasonic-global-content-vn-vi.css" rel="stylesheet" type="text/css">

<div class="parbase browsebar">
	<div id="browsebar-wrapper">
    <div id="browsebar" class="">
    	<div id="browsebar-in">
        <div class="container">
            <div id="browsebar-name">
                <h1 class="name">Duyệt tất cả Máy giặt cửa trên</h1>
            </div>
            <div id="browsebar-utils">
                </div>
            </div>  
        </div>
        <!--end #browsebar-buyslide--> 
    </div>
	</div>

<div class="parbase categoryoverview">
<div id="categorybrowse-header" class=" bgLight copyguard">
    <div class="container">
	<div class="breadcrumbs breadcrumbs-flyout"><div class="flyout"><p><a href="javascript:void(0);"><img src="./libs/flyout.png" width="21" height="21" alt="atltext"></a></p></div><ol><li><a href="#/admin/danhmuc">Sản phẩm gia dụng</a></li><li><a href="">Máy giặt</a></li></ol></div>
	</div>
	<img src="libs/default-hero-3.jpg" alt=""/>
</div>
</div>

<div class="result parbase"><div id="results-header">
    <div class="container">
		<h3 class="subheader1">
	        	1 - 36 trong <span> 36</span> kết quả</h3>
        <div class="checkeditems">
			<ul>
			    </ul>
		</div>
    </div>
</div>
<div id="results-contents">
    <div class="container">
        <form>
        <div class="category-products">
            <div class="product-box">
	<div class="product-box-in" style="height: 350px;">
		<div><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/top-loading/na-f135x1.html">
		<div class="product-image"><img src="./sanpham_files/NA-F135X1-Variation_Image_for_See_All_1Global-1_vn_vi.png.thumb.172.229.png" alt="NA-F135X1" title="NA-F135X1">
			<div class="product-colors">
				<ul>
					</ul>
			</div>
			</div>
		<div class="product-image-label product-image-label-new"><span>MỚI</span></div>
		<div class="product-copy" style="height: 62px;">
			<p class="productname">NA-F135X1</p>
			<p class="caption">Khối lượng giặt – 13.5kg</p>
		</div>
		</a>
		<div class="product-price" style="height: 0px;">
						<span class="prefix"></span>
						</div>
					<div class="notes"></div>	
				</div>
		</div>
	<!-- end #product-box-in -->
		
		</div>
<div class="product-box">
	<div class="product-box-in" style="height: 350px;">
		<div><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/top-loading/na-f115x1.html">
		<div class="product-image"><img src="./sanpham_files/NA-F115X1-Variation_Image_for_See_All_1Global-1_vn_vi.png.thumb.172.229.png" alt="NA-F115X1" title="NA-F115X1">
			<div class="product-colors">
				<ul>
					</ul>
			</div>
			</div>
		<div class="product-image-label product-image-label-new"><span>MỚI</span></div>
		<div class="product-copy" style="height: 62px;">
			<p class="productname">NA-F115X1</p>
			<p class="caption">Khối lượng giặt – 11.5kg</p>
		</div>
		</a>
		<div class="product-price" style="height: 0px;">
						<span class="prefix"></span>
						</div>
					<div class="notes"></div>	
				</div>
		</div>
	<!-- end #product-box-in -->
		
		</div>
<div class="product-box">
	<div class="product-box-in" style="height: 350px;">
		<div><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/top-loading/na-f115a1.html">
		<div class="product-image"><img src="./sanpham_files/NA-F115A1-Variation_Image_for_See_All_1Global-1_vn_vi.png.thumb.172.229.png" alt="NA-F115A1" title="NA-F115A1">
			<div class="product-colors">
				<ul>
					</ul>
			</div>
			</div>
		<div class="product-image-label product-image-label-new"><span>MỚI</span></div>
		<div class="product-copy" style="height: 62px;">
			<p class="productname">NA-F115A1</p>
			<p class="caption">Khối lượng giặt – 11.5kg</p>
		</div>
		</a>
		<div class="product-price" style="height: 0px;">
						<span class="prefix"></span>
						</div>
					<div class="notes"></div>	
				</div>
		</div>
	<!-- end #product-box-in -->
		
		</div>
<div class="product-box">
	<div class="product-box-in" style="height: 350px;">
		<div><a href="http://www.panasonic.com/vn/consumer/home-appliances/washing-machine/top-loading/na-f100a1.html">
		<div class="product-image"><img src="./sanpham_files/NA-F100A1WRV-Variation_Image_for_See_All_1Global-1_vn_vi.png.thumb.172.229.png" alt="NA-F100A1WRV" title="NA-F100A1WRV">
			<div class="product-colors">
				<ul>
					</ul>
			</div>
			</div>
		<div class="product-image-label product-image-label-new"><span>MỚI</span></div>
		<div class="product-copy" style="height: 62px;">
			<p class="productname">NA-F100A1</p>
			<p class="caption">Máy giặt cửa trước Cho đồ vào từ phía trên</p>
		</div>
		</a>
		<div class="product-price" style="height: 0px;">
						<span class="prefix"></span>
						</div>
					<div class="notes"></div>	
				</div>
		</div>
	<!-- end #product-box-in -->
		
		</div>
</div><!-- end .category-products -->
        </form>
        </div>
</div></div>
</div>
