<div id="L2NvbnRlbnQvcGFuYXNvbmljL3ZuL3ZpL3N5c3RlbS13cmFwcGVyL2NvbnN1bWVy" class="megapannel">
        <div class="inpannel">
          <div class="panhead">
            <div class="container">
              <p class="inbread"><span>Người tiêu dùng</span></p>
              <p class="closeit">
                <a class="btn-slide" href="javascript:void(0);">
                  <img src="./libs/icn-close.gif" width="9" height="9" alt="Đóng">
                </a>
              </p>
            </div>
          </div>
          <div class="parrays">
            <ul>    
              <li>
                <div class="parbase">
                  <a href="#" title="Sản phẩm gia dụng">
                    <span class="img-element">
                      <img title="Sản phẩm gia dụng" alt="" src="./libs/Home_Appliances_20141107.png">
                    </span>
                    <span class="catname">Sản phẩm gia dụng</span>
                  </a>
                </div>
                <ul>
                  <li>
                    <div class="parbase">
                      <a href="#" title="Tủ lạnh">
                        <span class="img-element">
                          <img title="Tủ lạnh" alt="" data-type="delay-load" src="./libs/Fridge_20141107.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Home-Appliances/Fridge_20141107.png">
                        </span>
                        <span class="catname">Tủ lạnh</span>
                      </a>
                    </div>
                    <ul>
                      <li>
                        <div class="parbase">
                          <a href="#" title="Tủ lạnh nhiều cửa">
                            <span class="img-element">
                              <img title="Tủ lạnh nhiều cửa" alt="" data-type="delay-load" src="./libs/multi-door_NR-F555TX-N2.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Home-Appliances/multi-door_NR-F555TX-N2.png">
                            </span>
                            <span class="catname">Tủ lạnh nhiều cửa</span>
                          </a>
                        </div>             
                      </li>    
                      <li>
                        <div class="parbase">
                          <a href="#" title="Tủ lạnh Vegerator">
                            <span class="img-element">
                                            <img title="Tủ lạnh Vegerator" alt="" data-type="delay-load" src="./libs/Household-Appliances_NR-BU344SNVN.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Household-Appliances/Household-Appliances_NR-BU344SNVN.png">
                                          </span>
                                          <span class="catname">Tủ lạnh Vegerator</span>
                          </a>
                        </div>             
                      </li>    
                    </ul>
                  </li>                     
                  <li>
                    <div class="parbase">
                      <a href="#" title="Máy giặt">
                                  <span class="img-element">
                                    <img title="Máy giặt" alt="" data-type="delay-load" src="./libs/washing-machine_NA-F107VC4VT.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Home-Appliances/washing-machine_NA-F107VC4VT.png">
                                  </span>
                                  <span class="catname">Máy giặt</span>
                                </a>
                    </div>
                    <ul>
                      <li>
                        <div class="parbase">
                          <a href="#" title="Máy giặt cửa trên">
                                          <span class="img-element">
                                            <img title="Máy giặt cửa trên" alt="" data-type="delay-load" src="./libs/washing-machine_NA-F70H3.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Home-Appliances/washing-machine_NA-F70H3.png">
                                          </span>
                                          <span class="catname">Máy giặt cửa trên</span>
                                        </a>
                        </div>             
                      </li>    
                      <li>
                        <div class="parbase">
                                        <a href="#" title="Máy giặt cửa ngang">
                                          <span class="img-element">
                                            <img title="Máy giặt cửa ngang" alt="" data-type="delay-load" src="./libs/washing-machine_NA-F107VC4VT.png" data-src="/content/dam/Panasonic/vn/vi/System-Wrapper/Consumer/Home-Appliances/washing-machine_NA-F107VC4VT.png">
                                          </span>
                                          <span class="catname">Máy giặt cửa ngang</span>
                                        </a>
                        </div>             
                      </li>    
                    </ul>
                  </li>                     
                </ul>
              
			  </li>                     
            </ul>
          </div>
          <div class="panfoot">
            <div class="container">
              <p class="browseall"><a href="#"></a></p>
            </div>
          </div>
        </div>
      </div>
      